@import '~antd/dist/antd.css';
@import "variables";
@import "top-nav";
@import "login";
@import "side-nav";
@import "buttons";
@import "pagination";
@import "form-item-upload";
@import "custom-steps";
@import "content-container";
@import "data-tables";
@import "form-item";

html, body {
    background-color: #f5f7fa
}

#app {
    height: 100%;
    //overflow: hidden;
}

th.column-money,
td.column-money {
    text-align: right !important;
}

.form-item-hide {
    opacity: 0;
    position: absolute;
}


