.custom-button {
    background: $bayo;
    border-color: $bayo;
    margin-right: 3px;

    &:hover {
        background: $bayo-light;
        border-color: $bayo-light;
    }

    &:active {
        background: $bayo-light;
        border-color: $bayo-light;
    }

    &:focus {
        background: $bayo-light;
        border-color: $bayo-light;
    }
}
