.content-container {
    background: $white;
    border-bottom: 1px solid #cccccc;
    //border-bottom : solid 1px $grey-light;
    padding: 5px 0;
    height: 70px;

    .content-header {

        height: 24px;

        .header-top-left {

        }

        .header-top-right {
            text-align: right;
            padding-right: 15px;
        }

        .header-bottom-left {
            text-align: left;
            padding-left: 15px;
            padding-top: 6px;
        }

        .header-bottom-center {
            text-align: center;
            padding-top: 6px;
        }

        .header-bottom-right {
            text-align: right;
            padding-right: 8px;
            padding-top: 6px
        }
    }


}
