
.oSteps {
    list-style: none;
    overflow: hidden;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.oSteps li {
    float: left;
}

.oSteps li:first-child span {
    border-left: solid 1px #e8e8e8;
    padding-left: 20px;
}

.oSteps li:last-child span {
    padding-right: 20px;
}

.oSteps li.active span {
    background: #e9ecef;
    color: #e85d22
}

.oSteps li.active span:after {
    border-left-color: #e9ecef;
}

.oSteps li span {
    color: #aaa6a0;
    text-decoration: none;
    padding: 6.6px 0 6.6px 35px;
    background: none;
    position: relative;
    display: block;
    float: left;
}


.oSteps li span:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 25px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.oSteps li span:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 25px solid #e8e8e8;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
