//.data-tables {
//  background: $white;
//  box-shadow: 1px 0 5px -2px #888;
//
//
//  .ant-table {
//    border: none !important;
//    border-radius: 0 !important;
//
//    .ant-table-body {
//      margin: 0 !important;
//
//      .ant-table-thead {
//        //background: #514943;
//
//        tr:first-child > th:first-child {
//          border-radius: 0 !important;
//        }
//
//        tr:last-child > th:last-child {
//          border-radius: 0 !important;
//        }
//
//        .ant-table-column-title {
//          color: $grey-fade;
//        }
//      }
//
//      .ant-table-row {
//        &:hover {
//          cursor: pointer;
//        }
//
//        &:first-child{
//          box-shadow : inset 0 5px 10px -4px rgba(0, 0, 0, 0.1);
//        }
//
//        &:nth-of-type(odd){
//          background-color: rgba(0, 0, 0, 0.01);
//        }
//      }
//
//    }
//  }
//
//
//  tbody tr:nth-child(even) {
//    //background-color: $grey-light;
//  }
//}
