.ant-form-item-label {
    label {
        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    .ant-form-item-required {
        &::after {
            display: inline-block;
            margin-left: 4px;
            color: #f5222d;
            font-size: 14px;
            font-family: SimSun, sans-serif;
            line-height: 1;
            content: '*';
        }
    }
}


%remove-ant-input-border-styles {
    border: none;
    border-radius: 0;
    box-shadow: none;
}


%custom-ant-form-item-borders {
    @extend %remove-ant-input-border-styles;
    border-bottom: 1px solid $grey-lightest;

    &:focus {
        @extend %remove-ant-input-border-styles;
        border-bottom: 1px solid $grey-lightest;
    }

    &:hover {
        border-bottom: 1px solid $grey-lightest;
    }

    &::placeholder {
        font-size: 0.82rem;
    }
}

%custom-ant-form-item-error-border {
    @extend %remove-ant-input-border-styles;
    border-bottom: 1px solid $red;

    &:focus {
        @extend %remove-ant-input-border-styles;
        border-bottom: 1px solid $red;
    }

    &:hover {
        border-bottom: 1px solid $red;
    }

}


.form-item-custom {

    margin-bottom: 5px;

    strong {
        line-height: 24px;
    }

    .ant-form-explain {
        font-size: 0.82rem;
    }

    .ant-radio-wrapper {
        font-size: 0.82rem;
    }

    font-size: 0.82rem;

    input[type="text"] {
        font-size: 0.82rem;
    }

    .ant-checkbox {
        top: .3em;
    }

    .ant-select-selection-selected-value {
        font-size: 0.82rem;
    }

    .ant-form-item-label {
        line-height: 24px;
        white-space: normal;
        font-weight: bold;
        text-align: left;

        label {
            color: $grey-fade;
            font-size: 0.82rem;
        }
    }

    .ant-form-item-control {
        line-height: 0;
    }


    .has-error {
        .ant-input {
            @extend %custom-ant-form-item-error-border;
        }

        .ant-select-selection {
            @extend %custom-ant-form-item-error-border;
        }

        .ant-input-number {
            @extend %custom-ant-form-item-error-border;
        }

    }

    .ant-input {
        @extend %custom-ant-form-item-borders;
    }

    .ant-select-selection {
        @extend %custom-ant-form-item-borders;
    }

    .ant-input-number {
        @extend %custom-ant-form-item-borders;
    }

    .ant-select-selection__placeholder {
        font-size: 0.82rem;
    }
}


.form-item-bg-none {
    margin-bottom: 4px;

    .ant-input {
        background: none;
        border-bottom: none !important;
    }

    .ant-select-selection {
        background: none;
        border-bottom: none !important;
    }

    .ant-input-number {
        background: none;
        border-bottom: none !important;
    }
}


.ant-form-item-label-custom {
    .ant-form-item-label {
        margin-top: 9px;
    }
}

@media screen and (max-width: 580px) {
    .ant-form-item-label-custom {
        .ant-form-item-label {
            display: none;
        }
    }
}


