.login-form-container {
    height: 100%;
    padding-top: 85px;

    .ant-card {
        box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
        border: none;
        margin: 15px auto;
        max-width: 400px;
        padding: 0;
        background-Color: $white;
    }

    .ant-card-body {
        padding: 0;

        .title-logo-container {
            position: relative;
            height: 130px;

            .title-logo-container-child-1 {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;

                .title-logo-container-child-2 {
                    margin: 0 -50% 0 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: sans-serif;
                    text-align: center;

                    .title-logo-container-child-3 {
                        text-align: center;
                        padding-bottom: 10px;

                        .login-logo {
                            height: 60px;
                            vertical-align: top;
                        }

                    }
                }
            }
        }
    }
}

