.custom-pagination-style {
    margin-right: 0;

    .ant-pagination-item {
        min-width: 22px !important;
        height: 22px !important;
    }
}

@media screen and (max-width: 1060px) {
    .ant-pagination-options {
        display: none;
    }
}
