//.ant-menu{
//  background: $orange-dark;
//
//  .ant-menu-submenu-selected{
//    color: $white;
//    border-bottom: 2px solid $white;
//
//    &:hover{
//      color: $white;
//      border-bottom: 2px solid $white;
//    }
//
//
//    //&:first-child{
//    //  border-bottom: 2px solid greenyellow !important;
//    //}
//
//
//  }
//
//  .ant-menu-submenu-active{
//    color: $white;
//  }
//}
//
//.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
//  border-right-color: $orange-dark;
//}
//
//.ant-menu-submenu {
//  .ant-menu{
//    background: $orange-dark;
//  }
//}
//
//
//.ant-menu-item > a{
//  color: $white;
//
//  &:hover{
//    color: $white;
//  }
//}
//
//.ant-menu-item{
//  //&:active{
//  //  background: $orange-darker;
//  //}
//}
//
//
////.ant-layout-sider-trigger{
////  background: $orange;
////}
//
//
//
//.ant-menu-submenu-title{
//  &:hover{
//    color: $white;
//
//    .ant-menu-submenu-arrow{
//
//      &::before{
//        background: $white !important;
//      }
//      &::after{
//        background: $white !important;
//      }
//    }
//
//
//  }
//  &:active{
//    background: $orange-dark;
//  }
//
//}
//
//
//.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
//  background: $orange-darker;
//
//  span{
//    color: $white;
//  }
//
//  &:hover{
//    background: $black;
//  }
//
//  &::after{
//    border-right-color: $grey-light;
//  }
//
//}
