$white: white;
$bayo-light: #007a77;

$bayo: #5dc19d;


$black-dark: #282421;
$black: #403934;

$grey-dark: #373330;
$grey: #4a4542;
$grey-fade: #666666;
$grey-dim: #e8e8e8;
$grey-light: #aaa6a0;
$grey-lightest: #cfcfcf;

$orange-darker: #6F2609;
$orange-dark: #ba400f;
$orange: #e85d22;


$red: #f5222d;
