.row-td {
    margin-left: 0;
    border-bottom: solid 1px rgb(206, 212, 218);

    background: white;

    &:first-child {
        box-shadow: inset 0 5px 10px -4px rgba(0, 0, 0, 0.1);
    }

    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }

    &:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.01);
    }
}
